<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container" >
        <a class="navbar-brand" routerLink="/">DatingApp</a>
      
        @if(accountServie.currentUser()){
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a routerLink="/members" routerLinkActive="active" class="nav-link">Matches</a>
            </li>
    
            <li class="nav-item">
                <a routerLink="/lists" routerLinkActive="active" class="nav-link">Lists</a>
            </li>
    
            <li class="nav-item">
                <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Sair</a>
          </li>
    
          </ul>
        }
    
      @if(accountServie.currentUser()){
        <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Bem vindo {{accountServie.currentUser()?.username | titlecase}}!!</a>
            <div *dropdownMenu class="dropdown-menu">
              <a routerLink="/member/edit" class="dropdown-item">Editar Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Sair</a>
            </div>
        </div>
      }
      @if(!accountServie.currentUser()){
        <form #loginform="ngForm" (ngSubmit)="login()" class="d-flex">
          <input name=username [(ngModel)]="model.username" class="form-control mr-sm-2" style="margin-right: 15px;"placeholder="Username">
          <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      }
      
    </div>
    

  </nav>